*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#fff;
}

h1, h4{
    color: black;
    margin: 2%;
    text-align: center;
    font-family: inherit;
}

#imagen{
    width: 100%;
    height: 100%;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    background-color: indigo;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: indigo;
}

.nav__links{
    list-style: none;
    background-color: indigo;
}

.papa li{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
}

.mipto li{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
}

.sha li{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
}

.oz li{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #889ccf; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #5878ca;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
    background-color: indigo;
}

.nav__links li {
    transition: all 0.3s ease 0s;
}

.nav__links a:hover{
    color: rgb(233, 13, 13);
}

button{
    padding: 9px 25px;
    background-color: rgb(155, 112, 235);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgb(234, 1, 255);
}

.hero{
    width: 100%;
    position: relative;
    height: 780px;
}

.boton{
    font-size: 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: rgb(19, 127, 214);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: white;
}

.boton:hover{
    cursor: pointer;
}

.atras{
    left: 2%;
    top: calc(121% - 82%);
}

.adelante{
    right: 2%;
    top: calc(121% - 82%);
}

